*{
	margin:  0px;
	padding: 0px;
    box-sizing: border-box;
}

@font-face {
font-family:"aglet-slab";
src:url("https://use.typekit.net/af/204275/00000000000000003b9b08c8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/204275/00000000000000003b9b08c8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/204275/00000000000000003b9b08c8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}
@font-face {
  font-family: 'KohinoorTelugu-Bold';
  src: url('../fonts/KohinoorTelugu-Bold.eot');
  src: url('../fonts/KohinoorTelugu-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KohinoorTelugu-Bold.svg#KohinoorTelugu-Bold') format('svg'),
       url('../fonts/KohinoorTelugu-Bold.ttf') format('truetype'),
       url('../fonts/KohinoorTelugu-Bold.woff') format('woff'),
       url('../fonts/KohinoorTelugu-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KohinoorTelugu-Light';
  src: url('../fonts/KohinoorTelugu-Light.eot');
  src: url('../fonts/KohinoorTelugu-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KohinoorTelugu-Light.svg#KohinoorTelugu-Light') format('svg'),
       url('../fonts/KohinoorTelugu-Light.ttf') format('truetype'),
       url('../fonts/KohinoorTelugu-Light.woff') format('woff'),
       url('../fonts/KohinoorTelugu-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'KohinoorTelugu-Medium';
  src: url('../fonts/KohinoorTelugu-Medium.eot');
  src: url('../fonts/KohinoorTelugu-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KohinoorTelugu-Medium.svg#KohinoorTelugu-Medium') format('svg'),
       url('../fonts/KohinoorTelugu-Medium.ttf') format('truetype'),
       url('../fonts/KohinoorTelugu-Medium.woff') format('woff'),
       url('../fonts/KohinoorTelugu-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KohinoorTelugu-Regular';
  src: url('../fonts/KohinoorTelugu-Regular.eot');
  src: url('../fonts/KohinoorTelugu-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KohinoorTelugu-Regular.svg#KohinoorTelugu-Regular') format('svg'),
       url('../fonts/KohinoorTelugu-Regular.ttf') format('truetype'),
       url('../fonts/KohinoorTelugu-Regular.woff') format('woff'),
       url('../fonts/KohinoorTelugu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KohinoorTelugu-Semibold';
  src: url('../fonts/KohinoorTelugu-Semibold.eot');
  src: url('../fonts/KohinoorTelugu-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KohinoorTelugu-Semibold.svg#KohinoorTelugu-Semibold') format('svg'),
       url('../fonts/KohinoorTelugu-Semibold.ttf') format('truetype'),
       url('../fonts/KohinoorTelugu-Semibold.woff') format('woff'),
       url('../fonts/KohinoorTelugu-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
    background-color: #FFC95C;
}
a{
	text-decoration: none;
	color: #000;
}
figure{
    width: 298px;
    height: 258px;
    margin: 0px;
    position: relative;
    transition: all ease .5s;
    /*transform-style: preserve-3d;*/
    transform-style: unset;
    transform: perspective(600px) rotateY(0deg);

    display: flex;
    align-items: center;
}

.boton_ver_mas span {
    float: left;
}

.boton_ver_menos span {
    float: left;
}

.contenedor_articulo{

    width: 100%;
    max-width: 638px;
    margin: auto;
    display: table;
}

.flecha_abajo {
    width: 14px;
    margin-right: 5px;
    margin-top: 4px;
}


.boton_ver_menos span {
    float: left;
}

.linea_divisora_interna{

    display: none;
}

.linea_divisora {
    width: 100%;
    height: 1px;
    background-color: #000;
    border: none;
    margin: 20px 0px;
}

.subtitulo_nota2 {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    width: 100%;
    margin: 40px auto 19px auto;
    color: #000;
    font-size: 20px;
    padding: 0px 0px;
}

.linea_divisora_interna {
    width: 523px;
    border: none;
    height: 2px;
    background-color: #000;
    margin: 9px auto 22px auto;
}

.sumarioNota {
    font-family: "aglet-slab";
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    width: 77%;
    margin: 0px auto 20px auto;
}

#articulo_VerMas{

    display: none;
}

.magen_migrantes_lts{

    width: 100%;
}

.base_divisor_ver_mas {
    width: 100%;
    display: table;
    margin-bottom: 20px;
    position: relative;
}

.boton_ver_mas, .boton_ver_menos {
    position: absolute;
    top: 4px;
    background-color: #ffc95c;
    padding: 4px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-family: "aglet-slab";
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: transform .2s;
}

.autor_credito {
    font-size: 18px;
    width: 523px;
    margin: 0px auto 23px auto;
    display: block;
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 27px;
}

.contenidedor_trust_project {
    width: 100%;
    max-width: 1200px;
    display: table;
    margin: 47px 0px 30px 0px;
}

.contendor_info_trush {
    width: 100%;
    max-width: 1200px;
    display: table;
}


.base_1_trush {
    width: 100%;
    display: table;
    max-width: 600px;
    float: left;
    padding: 0px 30px;
}

.base_2_trush {
    width: 100%;
    display: table;
    max-width: 600px;
    float: left;
     padding: 0px 30px;
    display: block;
    overflow: hidden;
    border-left: 2px solid #000000;
}

.titulo_Trush {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

.txt_referencia {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.txt_eltiempo {
    color: #6A6A6A;
    text-align: center;
    width: 242px;
    margin: 11px auto 40px auto;
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
}

.texto_trush {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 32px;
    text-align: right;
    font-size: 18px;
    width: 100%;
    max-width: 453px;
    float: right;
}

.titulo_base_1 {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    text-align: right;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 27px;
}

.titulo_base_2 {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    text-align: left;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 27px;
}

.base_imagen_trush{
    width: auto;
    display: table;
    margin: auto;
}

.base_rederencia {
    width: 100%;
    display: table;
    margin-bottom: 21px;
}

.url_referencia {
    color: #6A6A6A;
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    padding: 7px 0px;
}

.subtitulo_nota {
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    width: 100%;
    margin: 40px auto 19px auto;
    color: #000;
    font-size: 20px;
    padding: 0px 25px;
}

.boton_ver_mas:hover{
    transform: scale(0.9);
}

.boton_ver_menos:hover{
    transform: scale(0.9);
}

.ancla{

    text-decoration: none;
}

.base_video_notaP {
    width: 100%;
    max-width: 1000px;
    display: table;
    margin: 40px auto;
}

.contenedor_grafico_NP {
    width: 100%;
    display: table;
    margin: 40px 0px;
}

.imagen_migrantes_lts {
    width: 100%;
}

.parrafo_notaP {
    position: relative;
    font-size: 18px;
    margin: 0px auto 13px auto;
    display: block;
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 27px;
}

.video_youtube_notaP {
    width: 100%;
    height: 563px;
}

figure .frontal, figure .trasera{
  transition: all ease .5s;
  cursor: pointer;
}

figure .frontal {
    display: block;
    cursor: pointer;
}
.hexagonos.frontal.hexagono-resposive-atras {
    width: 298px;
}

figure .trasera {
    position: absolute;
    left: 0px;
    top: -1px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    /* backface-visibility: hidden; */
    overflow: hidden;
    z-index: -1;
}

.hexagono1:hover .trasera{
  z-index: 0;
}

.hexagono1:hover figure{
  -webkit-transform: perspective(600px) rotateY(180deg);
  /*transform-style: preserve-3d;*/
}
.contenedor_nota_principal {
    width: 100%;
    max-width: 1000px;
    /* background-color: red; */
    display: table;
    margin: auto;
    padding: 0px 0px;
}

.dejar-estatico .trasera{
  z-index: 1;

}
.base_imagen_movile.ilustracion_desktop {
    width: 100%;
    display: table;
    background-color: #ffc95c;
    position: relative;
    z-index: 90;
}
.entrada{
    font-family: 'KohinoorTelugu-Medium';
    font-weight: 100;
}

.contenido_redes_sociales {
    width: auto;
    display: inline-flex;
    margin: auto;
    position: relative;
}
.redes_desplegable .icono_redes{
  margin-left: 0px;
}


.centrar_redes {
    width: auto;
    margin: 22px auto 18px auto;
    display: table;
}

.ilustracion_movile{

  display: none;
}
.base_divisor_movile{
  display: none;
}
.redes_desplegable {
    display: none;
    position: absolute;
    width: 30px;
    left: 179px;
    top: 26px;
    background-color: #e8b754;
    padding-top: 5px;
}
.icono_redes {
    width: 31px;
    margin-left: 21px;
    transition: transform .2s;
    max-width: inherit;
}
.icono_redes:hover{
  transform: scale(1.5);
} 

.contenido_footer.footer-mobile{
  display: none;
}

.tres_puntos, .tres_puntos2{
  cursor: pointer;
}
.contenido_principal{
	width: 1200px;
    display: table;
    margin: 0px auto 40px auto;
}

.seccion {
    width: 600px;
    margin: 258px auto 0px auto;
    display: table;
}

.titular_principal {
    width: 100%;
}

.header2 {
    width: 900px;
    display: table;
    margin: 145px auto 40px auto;
}
.descripcion {
    width: 865px;
    text-align: center;
    font-size: 27px;
    font-family: "aglet-slab";
    font-weight: 400;
    font-stretch: normal;
    margin: 0px auto 50px auto;
    line-height: 36px;
    display: none;
}

.hexagonos {
    width: 300px;
}
.titular_hexagono {
    font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    font-size: 26px;
    padding: 0px 55px;
    line-height: 31px;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    cursor: pointer;
}
.verMas {
    position: relative;
    bottom: 0;
    top: 2px;
    left: 127px;
    width: 50px;
    height: 35px;
}
.signo {
    font-size: 21px;
}
.hexagono1 {
    width: 298px;
    height: 258px;
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    top: 0;
}
.footer-mobile{
  display: none;
}
.imagen-autor {
    width: 132px;
    margin-top: 6px;
}
.contenido_informacion {
    position: absolute;
    top: -1px;
    text-align: center;
    width: 100%;
}
.Nombre-Autor {
    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 20px;
    line-height: 19px;
    margin: 9px 0px 6px 0px;
}
.descripcion_articulo {
    font-family: aglet-slab, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #000;
    width: auto;
    max-width: 200px;
    margin: auto;
    font-style: italic;
    padding-bottom: 5px;
    line-height: 16px;
    font-size: 14px;
}
.leer_mas {
    line-height: 15px;
    font-family: "aglet-slab";
    color: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;   
}
.leer_mas:hover{
  color: #fff;
}
.linea-divisora {
    width: 44px;
    margin: 0px auto 4px auto;
    border: none;
    height: 1px;
    background-color: #000;
}
.contenedor_seccion {
    width: 1200px;
    display: table;
    position: relative;
    margin-top: 81px;
}
.dejar-estatico{

  -webkit-transform: perspective(600px) rotateY(180deg);
}
#autor0 {
    position: absolute;
    left: 449px;
    top: -1px;
}
#autor3 {
    position: absolute;
    left: 0px;
    top: 388px;
}
#autor6 {
    position: absolute;
    top: 388px;
    right: 5px;
}

#autor7 {
    position: absolute;
    left: 2px;
    top: 774px;
}

#autor10 {
    position: absolute;
    right: 7px;
    top: 773px;
}


#autor16 {
    position: absolute;
    right: 5px;
    top: 1157px;
}

#autor13 {
    position: absolute;
    left: 0;
    top: 1163px;
}

#autor19 {
    position: absolute;
    right: 5px;
    top: 1290px;
}
#autor22 {
    position: absolute;
    left: 0;
    top: 1682px;
}
#autor25 {
    position: absolute;
    right: 5px;
    top: 1682px;
}
#autor26 {
    position: absolute;
    left: 0;
    top: 2064px;
}
#autor29 {
    position: absolute;
    right: 5px;
    top: 2064px;
}

.linea_footer{

    width: 400px;
}
.creditos {
    font-family: 'KohinoorTelugu-Medium';
    font-size: 17px;
    text-align: center;
    margin-bottom: 7px;
    line-height: 23px;
}
.contenido_footer {
    width: 1200px;
    display: table;
    margin: 160px auto 0 auto;
}

.fuente_light{

    font-family: 'KohinoorTelugu-Light';
}
/*---------------------------PANTALLA ARTICULO--------------------------------*/

.fondo_body {
    background-color: #FFC95C;
    overflow-y: hidden;
}
.contenido_articulo{
    
    width: 1200px;
    display: none;
    margin: 72px auto 0 auto;
}

.contenido_secciones{

    width: 950px;
    display: table;
    margin: auto;
}
.seccion-titulo-autor {
    width: 345px;
    height: auto;
    float: left;
    position: relative;
}
.seccion-articulo {
    width: 580px;
    display: table;
    float: left;
    padding: 20px 0px;
    box-sizing: border-box;
    margin-left: 21px;
}
.titulo_articulo {
    font-size: 29px;
    text-align: right;
    width: auto;
    line-height: 33px;
    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.autor {
    font-size: 19px;
    margin-top: 23px;
    display: block;
    text-align: right;
    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    right: 73px;
    bottom: 0;
}
.base_textos {
    width: auto;
    height: 397px;
    float: left;
    padding-right: 72px;
    /* background-color: red; */
    position: relative;
}
.base_divisor {
    width: 22px;
    left: 318px;
    position: absolute;
}

.cerrar {
    position: absolute;
    width: 58px;
    top: 431px;
    left: -22px;
    cursor: pointer;
    /* transition: transform .4s; */
    animation: 1.1s infinite alternate slidein;
    max-width: inherit;
}
/*
.cerrar:hover {
    transform: rotate(180deg);
} 
*/
@keyframes slidein {
  from {
    transform: perspective(600px) rotateY(0deg);
  }
  
  to {
   transform: perspective(600px) rotateY(180deg);
 }
}

.icono_articulo {
    margin-top: 48px;
    float: right;
    margin-bottom: 17px;
    width: 332px;
    margin-right: 17px;
    margin-left: -10px;
}
.descripcion2 {
    font-size: 14px;
    margin-top: 8px;
    text-align: right;

    font-family: aglet-slab, sans-serif;
    font-style: italic;
    font-weight: 300;
}
.ancho_caja {
    width: 100%;
    float: right;
}
.base-articulo-completo {
    overflow-y: scroll;
    height: 650px;
}
/*-JSON--*/
.parrafos {
    position: relative;
    font-size: 18px;
    width: 523px;
    margin: 0px auto 23px auto;
    display: block;
    font-family: "kohinoor";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 27px;
}


/*------scroll personalizado-----*/
.base-articulo-completo::-webkit-scrollbar{
  width: 7px;
}
.base-articulo-completo::-webkit-scrollbar-thumb {
    background-color: #ffffff1c;
    height: 30px;
    border-radius: 10px;
}
.bajar_redes_z {
    margin-top: 66px;
    margin-bottom: 0px;
}
.linea_divisora_red {
    width: 100%;
    margin: 0px auto 7px auto;
    border: none;
    height: 1px;
    background-color: #000;
}
.titular_mobile{
  display: none;
}
.margen-f{
  margin-left: 0px;
}
.tamano-icon{
      width: 27px;
}
.red_adicional{
  display: none;
}
.flecha_atras {
    width: 28px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}



.reducir_parrafo {
    width: 100%;
    max-width: 437px;
    margin: 0px auto 25px auto;
}

.base_tre_puntos {
    width: auto;
    display: table;
    margin: 0px auto 50px auto;
}

.circulo {
    width: 11px;
    height: 11px;
    background-color: #000;
    float: left;
    margin: 0px 7px;
    border-radius: 37%;
}


.esconder_mobile{
  display: none;
}


.frase{

    font-style: italic;
}



@media (max-width: 1470px){

.dejar-estatico .trasera{
  z-index: 1;
}
.hexagonos.frontal.hexagono-resposive-frontal {
    width: 100%;
}
#autor26 {
    position: absolute;
    left: 11px;
    top: 1864px;
}

figure .trasera {
    position: absolute;
    top: 0;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    /*backface-visibility: hidden;*/
    overflow: hidden;
    width: 100%;
}
img.hexagonos.frontal.hexagono-resposive-atras {
    width: 100%;
}

.imagen-autor {
    width: 108px;
    margin-top: 12px;
}
.verMas {
    position: relative;
    bottom: 0;
    top: 2px;
    left: 0px;
    width: 50px;
    height: 31px;
    margin: auto;
}
.leer_mas {
    line-height: 14px;
    font-family: "aglet-slab";
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.Nombre-Autor {
    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 17px;
    line-height: 19px;
    margin: 9px 0px 2px 0px;
}
.descripcion_articulo {
    font-family: aglet-slab, sans-serif;
    font-weight: 300;
    font-style: italic;

    color: #000;
    width: auto;
    margin: auto;
    font-style: italic;
    /* padding-bottom: 11px; */
    line-height: 15px;
    font-size: 13px;
}


figure {
    width: 270px;
    height: 236px;
}



    .titular_hexagono {
        font-family: aglet-slab, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        padding: 0px 46px;
        line-height: 27px;
        margin: auto;
        text-align: center;
    }

    #autor0 {
        position: absolute;
        left: 415px;
        top: 0px;
    }

    #autor3 {
        position: absolute;
        left: 11px;
        top: 353px;
    }

    #autor6 {
        position: absolute;
        top: 353px;
        right: 10px;
    }

    #autor7 {
        position: absolute;
        left: 11px;
        top: 701px;
    }

#autor10 {
        position: absolute;
        right: 10px;
        top: 701px;
    }


    #autor16 {
        right: 10px;
        position: absolute;
        top: 1052px;
    }

    #autor13 {
        position: absolute;
        top: 1052px;
        left: 11px;
    }

#autor19 {
    position: absolute;
    right: 5px;
    top: 1290px;
}
#autor22 {
    position: absolute;
    left: 0;
    top: 1682px;
}
#autor25 {
    position: absolute;
    right: 5px;
    top: 1682px;
}
#autor26 {
    position: absolute;
    left: 0;
    top: 2064px;
}
#autor29 {
    position: absolute;
    right: 5px;
    top: 2064px;
}











.hexagono1 {
    width: 270px;
    height: 233px;
}
    .header2 {
        width: 900px;
        display: table;
        margin: 150px auto 0 auto;
    }
.contenedor_seccion {
    width: 1100px;
    display: table;
    position: relative;
    margin: 100px auto 20px auto;
}


    .seccion {
        width: 540px;
        display: table;
        margin: 235px auto 0px auto;
    }

.descripcion {
        width: 100%;
        max-width: 850px;
        font-size: 23px;
        margin-top: 0px;
        font-family: "aglet-slab";
        margin-bottom: 50px;
        text-align: center;
        margin: 0px auto 50px auto;
    }

}


.base_decorador_creditos {
    width: auto;
    display: table;
    margin: 0px auto 26px auto;
}

.bajar_publicacion {
    margin-top: 78px;
    font-style: italic;
}






@media (max-width: 650px) {


.imagen_migrantes_lts {
    width: 100%;
    padding: 0px 21px;
}

.subtitulo_nota2 {
    width: 100%;
    padding: 0px 40px;
}

    .texto_trush {
        font-size: 17px;
        line-height: 29px;
        text-align: left;
    }


.txt_referencia {
    font-size: 16px;
    line-height: 24px;
}

.url_referencia {
    width: 79vw;
    overflow: hidden;
    font-size: 16px;
}

.linea_divisora_interna {
    width: 100%;
}

.base_divisor_ver_mas {
    padding: 0px 40px;
    margin-bottom: 0px;
}


.video_youtube_notaP {
    width: 100%;
    height: 234px;
}

.parrafo_notaP {
    padding: 0px 40px;
}



.esconder_mobile{
  display: block;
}

.esconder_desktop{
  display: none;
}

.icono_redes.redes_movile.left_movile {
    margin-left: 0;
}

.red_adicional {
    width: 31px;
    position: absolute;
    background-color: #92f7fb;
    left: 158px;
    top: -65px;
}

.base_divisor_desktop{
  opacity: 0;
}

.base_divisor_movile{
  display: block;
}

.titular-desktop{
  display: none;
}

.titular_mobile {
    display: initial;
}

.boton_ver_mas span {
    float: left;
}


#autor0, #autor1, #autor2, #autor3, #autor4, #autor5, #autor6, #autor7, 
#autor8, #autor9, #autor10, #autor11, #autor12, #autor13, #autor14, 
#autor15, #autor16, #autor17 {

    position: relative;
    left: 0;
    top: 0;
}

.contenido_principal {
    width: 100%;
    display: table;
    margin: 0px auto 40px auto;
    overflow: hidden;

}
    .header2 {
        width: 100%;
        display: table;
        margin: 106px auto 0px auto;
        text-align: center;
    }
.hexagono1 {
    width: 176px;
    height: 152px;
    display: flex;
}
.titular_principal {
    width: 73%;
}

.hexagonos {
    width: 100%;
}

.contenedor_seccion {
        width: 100%;
        padding: 0px 24px;
        box-sizing: border-box;
        margin-top: 32px;
    }

.descripcion {
    width: 100%;
    float: inherit;
    margin: auto;
    text-align: left;
    font-size: 19px;
    line-height: 27px;
    padding: 20px 40px 0px 40px;
    margin-bottom: 40px;
}

.contenido_redes_sociales {
        width: auto;
        display: inline-flex;
        margin: 27px auto 0 auto;
        position: relative;
    }
.seccion {
    width: 100%;
    margin: auto;
    display: table;
}

.icono_redes {
    width: 36px;
    margin-left: 26px;
    transition: transform .2s;
}

.quitar_espacio{
  margin-left: 0px;
}

.titular_hexagono {
    font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    font-size: 17px;
    padding: 0px 24px;
    line-height: 18px;
    margin: auto;
    text-align: center;
    font-weight: 100;
}

.imagen-autor {
        width: 100px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

.Nombre-Autor {
  
    color: #000;
    font-size: 13px;
    line-height: 15px;
    margin: 0px 0px 4px 0px;

    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.descripcion_articulo {
    display: none;
}

.verMas {
    position: relative;
    bottom: 0;
    top: 2px;
    width: 50px;
    height: 35px;
    margin: auto;
}

.leer_mas {
    line-height: 13px;
    font-family: "aglet-slab";
    color: #000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.signo {
    font-size: 19px;
}


figure {
    width: 176px;
    height: 152px;
    margin: 0px;
  }

  .verMas {
    margin: auto;
    left: 0;
}

figure .trasera {
    width: 100%;
}


.footer-desktop{
  display: none;
}
.contenido_footer.footer-mobile {
    display: block;
    width: 300px;
    margin: 120px auto 0 auto;
}

.linea_footer {
    width: 100%;
}

.redes_desplegable {
        display: none;
        position: absolute;
        width: 30px;
        left: 188px;
        top: -67px;
        background-color: #ffc95c;
        padding-top: 5px;
    }


/*---------------pantalla2------------------*/

.contenido_articulo {
    width: 100%;
    display: none;
    margin: 72px auto 0 auto;
    padding: 0px 32px;
    box-sizing: border-box;
}

.contenido_secciones {
    width: 100%;
    display: table;
    margin: auto;
}

.seccion-titulo-autor {
    width: 66px;
    height: auto;
    float: left;
    position: relative;
}

.icono_articulo {
    margin-top: 49px;
    width: 308px;
    margin-left: 43px;
    margin-bottom: 11px;
    float: inherit;
}

.seccion-articulo {
        width: 275px;
        display: block;
        float: left;
        padding: 20px 0px;
        box-sizing: border-box;
        margin-left: 0px;
        float: right;
        position: relative;
    }

.linea_divisora_red {
    display: none;
}

.bajar_redes_z {
    margin-top: 0;
    margin-bottom: 35px;
    float: right;
    margin-right: 19px;
}
.redes_mobile {
    margin-top: 30px;
}
.icono_redes.redes_movile {
    margin-left: 16px;
    width: 31px;
}

    .base-articulo-completo {
        /* overflow-y: initial; */
        height: 600px;
        overflow-x: hidden;
    }
.fondo_body {
  
    overflow-y: hidden;
}

.base_divisor {
    width: 22px;
    left: 21px;
    position: relative;
    top: 94px;
}

.cerrar {
    position: absolute;
    width: 45px;
    top: 430px;
    left: -12px;
    cursor: pointer;
    transition: transform .4s;
}

.base_imagen_movile {
    width: 100%;
    display: table;
    
    padding: 0px 0px 20px 0px;
    position: fixed;
    z-index: 90;
    top: 0;
}

.titulo_base_1 {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
}

.base_imagen_movile.ilustracion_movile {
        display: block;
        padding: 0px;
        background-color: #ffc95c;
    }

       .sumarioNota {
        font-size: 18px;
        line-height: 23px;
        display: table;
        text-align: left;
        margin: 0px 0px 20px 0px;
    }

.creditos {
    font-family: 'KohinoorTelugu-Medium';
    font-size: 17px;
    text-align: center;
    margin-bottom: 12px;
    line-height: 24px;
}

.descripcion2 {
    margin-bottom: 8px;
}

.subtitulo_nota {
    width: 100%;
}


.base_imagen_movile.ilustracion_desktop {
    display: none;
}

.base_textos {
    margin-top: 98px;
    width: 100%;
    float: right;
    padding-right: 33px;
    box-sizing: border-box;
    height: auto;
}

.titulo_articulo {
      font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 35px;
    line-height: 36px;
}

.autor {
    text-align: left;
    text-align: left;
    font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 17px;
    position: relative;
}
.descripcion2 {
    text-align: left;
    margin-bottom: 30px;
    font-family: aglet-slab, sans-serif;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 3px;
}

.parrafos {
    position: relative;
    font-family: 'KohinoorTelugu-Light';
    font-size: 17px;
    width: 100%;
    margin: 0px auto 10px auto;
    display: block;
    line-height: 24px;
}


#autor16 {
    margin: auto;
    left: 87px;
}

.base_1_trush {
    width: 100%;
    display: table;
    max-width: 600px;
    float: left;
    padding: 0px 30px;
    margin-bottom: 39px;
}

.base_2_trush {
    margin-left: 27px;
    width: 93%;
    border-left: 1px solid #000000;
}

.Nombre-Autor {
    display: none;
}

}


@media (max-width: 385px) {





.base-articulo-completo {
    height: 509px;
}
.redes_desplegable {
  
    width: 30px;
    left: 194px;
    top: -61px;
 
}

.flecha_atras {
    width: 28px;
    height: 14px;
    margin-top: 1px;
  }
  .red_adicional {
    width: 23px;
    position: absolute;
    background-color: #92f7fb;
    left: 125px;
    top: -56px;
}

    .descripcion {
        width: 100%;
        float: inherit;
        margin: 0px auto 30px auto;
        text-align: left;
        font-size: 17px;
        line-height: 25px;
        padding: 0px 40px 0px 40px;
    }
.contenedor_seccion {
    width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
    margin-top: 96px;
}
.hexagono1 {
    width: 163px;
    height: 140px;
    display: flex;
}

figure {
    width: 163px;
    height: 140px;
    margin: 0px;
}

.icono_redes {
    width: 30px;
    margin-left: 26px;
    transition: transform .2s;
}

    .contenedor_seccion {
        width: 100%;
        padding: 0px 24px;
        box-sizing: border-box;
        margin-top: 31px;
    }

    .contenido_redes_sociales {
        width: auto;
        display: inline-flex;
        margin: 0px auto 0 auto;
        position: relative;
    }

.footer-mobile {
    display: block;
    width: 226px;
    margin: 120px auto 0 auto;
}

.linea_footer {
    width: 100%;
    margin-bottom: 27px;
}

.creditos {
    font-family: 'KohinoorTelugu-Medium';
    font-size: 16px;
    text-align: center;
    margin-bottom: 1px;
    line-height: 19px;
}
.imagen-autor {
        width: 84px;
    }


.titular_hexagono {
   font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    font-size: 15px;
    padding: 0px 24px;
    line-height: 17px;
  }

    .leer_mas {
        font-size: 12px;
        line-height: 12px;
    }



/*-----------pantalla2-----------*/

.base_textos {
    margin-top: 73px;
    width: 100%;
    float: right;
}

.titulo_articulo {
      font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 30px;
    line-height: 32px;
}

.base_divisor {
    width: 22px;
    left: 21px;
    position: relative;
    top: 26px;
}

.cerrar {
    position: absolute;
    width: 44px;
    top: 429px;
    left: -13px;
    cursor: pointer;
    transition: transform .4s;
}

.icono_articulo {
    margin-top: 24px;
    width: 258px;
    margin-left: 54px;
    padding-bottom: 19px;
}

.descripcion2 {
    text-align: left;
    margin-bottom: 23px;
}

.autor {
    text-align: left;
    font-size: 17px;
    margin-top: 16px;
}

    .descripcion2 {
        text-align: left;
        margin-bottom: 29px;
        font-family: aglet-slab, sans-serif;
        font-style: italic;
        font-weight: 300;
        text-align: left;
        margin-bottom: 15px;
    }

.parrafos {
    position: relative;
    font-family: 'KohinoorTelugu-Light';
    font-size: 16px;
    width: 100%;
    margin: 0px auto 10px auto;
    display: block;
    line-height: 23px;
}

.contenido_redes_sociales.redes_mobile {
    width: auto;
    display: inline-flex;
    margin: 17px auto 0 auto;
    position: relative;
}

.icono_redes.redes_movile {
    margin-left: 20px;
    width: 25px;
}

.seccion-articulo {
        /* width: 77%; */
        width: 239px;
    }

.icono_redes.redes_movile {
    margin-left: 15px;
    width: 22px;
}


.video_youtube_notaP {
    width: 100%;
    height: 212px;
}



#autor16 {
    margin: auto;
    left: 81px;
    top: 2px;
}

.parrafo_notaP {
    position: relative;
    font-size: 16px;
    line-height: 27px;
}


}


@media (max-width: 365px) {


.seccion-articulo {
        /* width: 77%; */
        width: 226px;
    }

.video_youtube_notaP {
    width: 100%;
    height: 203px;
}

.red_adicional {
    width: 23px;
    position: absolute;
    background-color: #92f7fb;
    left: 139px;
    top: -56px;
}

.hexagono1 {
    width: 155px;
    height: 133px;
    display: flex;
}

figure {
    margin: 0px;
    width: 155px;
    height: 133px;
}



.Nombre-Autor {

    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 13px;
    line-height: 15px;
    margin: 0px 0px 1px 0px;
}

.leer_mas {
    line-height: 11px;
    font-family: "aglet-slab";
    color: #000;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

/*------------------pantalla 2 ---------------*/
.base_divisor {
    width: 22px;
    left: 24px;
    position: relative;
    top: 0px;
}
.cerrar {
    position: absolute;
    width: 41px;
    top: 429px;
    left: -11px;
    cursor: pointer;
    transition: transform .4s;
}

.titulo_articulo {
      font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 26px;
    line-height: 28px;
}

.autor {
    text-align: left;
    font-size: 16px;
    margin-top: 13px;
}

    .descripcion2 {
        font-family: aglet-slab, sans-serif;
        font-style: italic;
        font-weight: 300;
        text-align: left;
        margin-bottom: 17px;
        text-align: left;
        font-size: 12px;
    }

.parrafos {
    position: relative;
    font-family: 'KohinoorTelugu-Light';
    font-size: 14px;
    width: 100%;
    margin: 0px auto 10px auto;
    display: block;
    line-height: 19px;
}

.icono_redes.redes_movile {
    margin-left: 17px;
    width: 23px;
}

#autor16 {
    margin: auto;
    left: 78px;
    top: 1px;
}



}


@media (max-width: 345px) {

.base-articulo-completo {
    /* overflow-y: initial; */
    height: 476px;
}

.seccion-titulo-autor {
    width: 35px;
    height: auto;
    float: left;
    position: relative;
    top: -6px;
}
.descripcion {
        font-size: 17px;
        line-height: 25px;
    }

.icono_redes {
    width: 27px;
    margin-left: 18px;
    transition: transform .2s;
}

.contenido_redes_sociales {
    width: auto;
    display: inline-flex;
    margin: 97px auto 0 auto;
    position: relative;
}

.contenedor_seccion {
        width: 100%;
        padding: 0px 21px;
        box-sizing: border-box;
        margin-top: 25px;
    }

.hexagono1 {
    width: 139px;
    height: 120px;
    display: flex;
}

figure {
    margin: 0px;
    width: 139px;
    height: 120px;
}


.header2 {
    width: 100%;
    display: table;
    margin: 131px auto 0px auto;
    text-align: center;
}

.redes_desplegable {
    display: none;
    position: absolute;
    width: 30px;
    left: 152px;
    top: -57px;
    background-color: #1abfc8;
    padding-top: 5px;
}

.titular_hexagono {
    font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    font-size: 14px;
    padding: 0px 20px;
    line-height: 15px;
}

.imagen-autor {
    width: 78px;
}

.Nombre-Autor {

    font-family: aglet-slab, sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #000;
    font-size: 12px;
    line-height: 13px;
    margin: 0px 0px 2px 0px;
}
.leer_mas {
    line-height: 10px;
    font-family: "aglet-slab";
    color: #000;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.signo {
    font-size: 17px;
}

.footer-mobile {
    display: block;
    width: 192px;
    margin: 94px auto 0 auto;
}

.creditos {
    font-family: 'KohinoorTelugu-Medium';
    font-size: 14px;
    text-align: center;
    margin-bottom: 1px;
    line-height: 17px;
}

/*-----------pantalla 2 --------------*/

.icono_articulo {
    margin-top: 24px;
    width: 214px;
    margin-left: 47px;
    padding-bottom: 7px;
}

.base_divisor {
    width: 22px;
    left: 50px;
    position: fixed;
    top: 111px;
}

.base_textos {
    margin-top: 104px;
    width: 78%;
    float: right;
}

    .seccion-articulo {
        width: 198px;
    }

.base_textos {
    margin-top: 41px;
    width: 100%;
    float: left;
}
.titulo_articulo {

    font-family: aglet-slab, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    font-size: 25px;
    line-height: 26px;
}
.autor {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
}

.descripcion2 {
        font-family: aglet-slab, sans-serif;
        font-style: italic;
        font-weight: 300;
        text-align: left;
        margin-bottom: 29px;
        text-align: left;
        margin-bottom: 13px;
        font-size: 12px;
        margin-top: 4px;
    }
.parrafos {
    position: relative;
    font-family: 'KohinoorTelugu-Light';
    font-size: 13px;
    width: 100%;
    margin: 0px auto 10px auto;
    display: block;
    line-height: 18px;
}
.base_divisor {
    width: 22px;
    left: 14px;
    position: relative;
    top: 62px;
}
.cerrar {
    position: absolute;
    width: 37px;
    top: 429px;
    left: -10px;
    cursor: pointer;
    transition: transform .4s;
}


#autor16 {
    margin: auto;
    left: 69px;
    top: 1px;
}



}

/*-------------------mobile---------------------*/
@media (max-width: 600px) and (max-height: 630px){
.base_divisor {
    width: 22px;
    left: 21px;
    position: relative;
    top: 36px;
}

.base-articulo-completo {
    /* overflow-y: initial; */
    height: 543px;
}

}

@media (max-width: 405px) and (max-height: 630px){

.base-articulo-completo {
    height: 461px;
}

.base_divisor {
    width: 22px;
    left: 14px;
    position: relative;
    top: -35px;
}

}


@media (max-width: 345px) and (max-height: 500px){
.base_divisor {
    width: 22px;
    left: 14px;
    position: relative;
    top: -88px;
}
.base-articulo-completo {
    height: 410px;
}

}


/*------------------------escritorio----------------------*/
@media (min-width: 1150px) and (max-height: 750px){

.bajar_redes_z {
    margin-top: 66px;
    margin-bottom: 40px;
}

.base-articulo-completo {
    overflow-y: scroll;
    height: 542px;
}

.titulo_articulo {
    font-family: "aglet-slab";
    font-size: 38px;
    text-align: right;
    font-weight: 100;
    width: auto;
    line-height: 33px;
}

.seccion-articulo {
    width: 580px;
    display: table;
    float: left;
    padding: 62px 0px;
    box-sizing: border-box;

}

.contenido_articulo {
    width: 1200px;
    display: none;
    margin: 13px auto 0 auto;
}

.icono_articulo {
    margin-top: 82px;
}

.base-articulo-completo {
    overflow-y: scroll;
    height: 602px;
}

.base_divisor {
    width: 22px;
    left: 318px;
    position: absolute;
    top: 138px;
}

}

@media (min-width: 1100px) and (max-height: 640px){


.seccion-articulo {
    width: 580px;
    display: table;
    float: left;
    padding: 60px 0px;
    box-sizing: border-box;

}

.base-articulo-completo {
    overflow-y: scroll;
    height: 568px;
}

.base_divisor {
    width: 10px;
    left: 317px;
    position: absolute;
    top: 83px;
}
.icono_articulo {
    margin-top: 68px;
}
.titulo_articulo {
    font-family: "aglet-slab";
    font-size: 36px;
    text-align: right;
    font-weight: 100;
    width: auto;
    line-height: 33px;
}


}

@media (min-width: 1100px) and (max-height: 590px){

.icono_articulo {
    margin-top: 46px;
}

.base-articulo-completo {
    overflow-y: scroll;
    height: 515px;
}

.seccion-articulo {
    width: 580px;
    display: table;
    float: left;
    padding: 41px 0px;
    box-sizing: border-box;
}

.base_divisor {
    width: 10px;
    left: 317px;
    position: absolute;
    top: 36px;
}

.cerrar {
    position: absolute;
    width: 51px;
    top: 427px;
    left: -17px;
    cursor: pointer;
   
    animation: 1.1s infinite alternate slidein;
}


}

/*----------------fin escritorio----------------------*/